<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7700.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Large: 480x600 px resized" MaxWidth="480" MaxHeight="300" ScaleUp="True" Quality="High" method="ResizeFitToAreaArguments" name="large: 480" />
			</thumbnails>
		</thumbnails>
	</images>
</librariesConfig>